body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: radial-gradient(circle at top, #7aa34f, #3f5f1f);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  padding: 35px;
  width: 100%;
  max-width: 720px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.35);
  color: #fff;
  animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

h1 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 35px;
  letter-spacing: 1px;
}

.question p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

label {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.22);
  padding: 12px 16px;
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
}

label:hover {
  background: rgba(255,255,255,0.35);
  transform: translateX(5px);
}

input[type="radio"] {
  margin-right: 12px;
  transform: scale(1.2);
}

/* seçilen şık */
input[type="radio"]:checked + span {
  font-weight: bold;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  gap: 10px;
}

button {
  padding: 12px 22px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(135deg, #084655, #e6e6e6);
  color: #f6fdf2;
  font-weight: 600;
  transition: all 0.25s ease;
}

button:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.submit-btn {
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  background: linear-gradient(135deg, #2f4f1d, #4f7a2e);
  color: white;
}

.submit-btn:hover {
  background: linear-gradient(135deg, #3f6b26, #5e8f3a);
}
.bottom-bar {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;
}

.bottom-bar button {
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  background: linear-gradient(135deg, #6dd5ed, #2193b0);
  color: white;
}
#exam {
  margin-left: -300px; /* değeri artırıp azaltabilirsin */
}
.bottom-buttons {
  position: fixed;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px; /* butonlar arası mesafe */
}


.next-btn {
  transform: translateX(-60px);
  transition: background-color 0.3s, box-shadow 0.3s;
  position: 30px;
}

.next-btn:hover {
  transform: translateX(-60px); /* AYNI */
  background-color: #1fa6c7;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
